:root{
    /*--primary: #00e59b;*/
    --primary: #ec2449;
    --secondary: #673ab7;
    --panel: #0c0c0c;
    --panel-light: #1f1f1f;
    --text-default: #d5d8e2;
    --bg: var(--panel-light);
    --web-primary: #ec2449;
    --ff-secondary: 'Caveat', cursive;
    --success: #8bc34a; /*#05cc47*/
    --rounded: 1rem;
    --rounded2: 1rem;
    --card: white;
    --card-dark: #c9c9cb;
    --gradient-primary: linear-gradient(60deg, var(--secondary), var(--primary))
}

.acd-waves {
    animation-name: waves;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.cd-btn-icon svg,
.cd-btn svg {
    height: 1.6rem;
    fill: white;
}

@keyframes waves {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0);

    }
}

.acd-fadeOut {
    animation-name: fadeOut;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.cd-bg-success{
    background: var(--success) !important;
}
.cd-bg-secondary {
    background: var(--secondary) !important;
}
.cd-bg-primary {
    background: var(--primary) !important; 
}
.cd-bg-panel {
    background: var(--panel) !important;
}
.ff-secodary{
    font-family: var(--ff-secondary);
}
.cd-text-primary{
    color: var(--primary);
}
.cd-pointer{
    cursor: pointer;
}
.cd-small-chip{
    color: white;
    background: var(--primary);
    border-radius: .5rem;
    height: 20px;
    display: inline-block;
    padding: 0 .25rem
}
.cd-scroll-custom::-webkit-scrollbar,
.mdl-dialog__content::-webkit-scrollbar {
    width: 12px;
}

.cd-scroll-custom::-webkit-scrollbar-track,
.mdl-dialog__content::-webkit-scrollbar-track {
    background: var(--bg);
}

.cd-scroll-custom::-webkit-scrollbar-thumb,
.mdl-dialog__content::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 18px;
    border: 1px solid var(--bg);
}
.cd-info-notify{
    border-radius: var(--rounded);
    color: white;
    display: flex;
    height: 50px;
    fill: white;
    background-color: var(--panel);
    padding: .5rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.54) 0px 5px 11px 0px;
    transition: linear background-color 0.2s;
}
.cd-info-notify .cd-btn{
    background-color: transparent;
}
.cd-info-notify:hover .cd-btn,
.cd-info-notify.active-element .cd-btn {
    background-color: var(--primary);
}
.cd-info-notify-course {
    color: white;
    flex: 1;
}
#cd-notifications-content{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 500px;
    z-index: 102;
}
.cd-notification {
    position: relative;
    padding: 1rem;
    background: var(--panel);
    color: white;
    border-radius: var(--rounded);
    cursor: default;
}
.cd-notification-close{
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .5rem;
    cursor: pointer;
    background: var(--panel-light);
    border-radius: .5rem;
    height: 34px;
    width: 34px;
}
@keyframes lala {
    0%{
        bottom: -50px;
        opacity: 0;
    }
}
.cd-notify-nextinfo{
    font-size: 1.5rem;
    background-color: var(--panel-light);
    margin-left: .5rem;
    color: white;
    border-radius: var(--rounded);
}
.cd-schedule-info{
    background: var(--bg);
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    border-radius: var(--rounded);
    color: white;
}
.cd-schedule-info *{
    color: white;
}
.cd-schedule-container{
    flex: 1;
    height: 100%;
}
.cd-schedule{
    background: var(--panel);
    max-width: 1200px;
    width: 100%;
    border-radius: var(--rounded);
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: default;
    font-weight: bold;
    position: relative;
}
.cd-schedule::before{
    background: white;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url('https://svgshare.com/i/b69.svg');
    background-size: cover;
    z-index: -1;
}
.cd-schedule-head{
    display: flex;
}
.cd-schedule-head > * {
    height: 40px;
    text-align: center;
}
.cd-schedule-head span{
    height: 100%;
    width: 100%;
}
.cd-schedule-body{
    display: flex;
    width: 100%;
}
.cd-schedule-courses{
    flex: 1;
    height: 100%;
    display: flex;
    padding: 0 0 1rem 0;
}
.cd-schedule-hours{
    display: flex;
    flex-direction: column;
    padding: 0 2px;
    position: relative;
}
.cd-schedule-hours::before{
    content: "";
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 4px;
    top: -56px;
    background: #00000088;
    z-index: 0;
    border-radius: 4rem;
    backdrop-filter: blur(10PX);
}
.cd-schedule-hours span{
    width: 56px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
}
.cd-schedule-hours b{
    border-radius: var(--rounded);
    background: white;
    padding: 0 .5rem;
    font-size: .8rem;
}
.cd-schedule-head-day{
    width: 20%;
}
.cd-schedule-head-day-active{
    border-bottom: 1px solid #F1F1F1;
    z-index: 4;
}
.cd-schedule-day{
    width: 20%;
    border-radius: var(--rounded2);
}
.cd-schedule-day-active{
    position: relative;
}
.cd-schedule-day-active::before{
    z-index: 0;
    content: "";
    position: absolute;
    background: #0000001A;
    left: 0;
    right: 0;
    top: -55px;
    bottom: -10px;
    backdrop-filter: blur(10px);
    border-radius: var(--rounded2);
}
.cd-schedule-day > div{
    display: flex;
    padding: 0;
    margin: 0;
    font-size: .9rem;
}
.cd-schedule-course {
    height: 100%;
    padding: 0 1px 1px 0;
    position: relative;
    line-height: .95rem;
}

.cd-schedule-course-time{
    position: absolute;
    background: white;
    right: 4px;
    color: gray;
    bottom: 4px;
    padding: 2px 8px;
    border-radius: .5rem;
    line-height: initial;
    font-size: .6rem;
    transition: linear all .2s;
}
.cd-schedule-per-day-active-day{
    position: relative;
}
.cd-schedule-per-day-active-day::after{
    content: '';
    display: block;
    position: absolute;
    left: .5rem;
    right: .5rem;
    bottom: -8px;
    height: 4px;
    background: var(--primary);
    border-radius: 1rem;
}
.cd-schedule-course-item {
    padding: .25rem;
    height: 100%;
    text-align: center;
    background: #ffffff0f;
    border-radius: .5rem;
    overflow: hidden;
    transition: linear all .2s;
    color: white;
    font-weight: normal;
}

.mdi.mdi-f{
    display: flex;
    align-items: center;
    justify-content: center;
}
.c{
    text-align: center;
}
.f-c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.f-start{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.f-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.f-fill{
    flex: 1;
}
.mdl-typography--headline{
    font-size: 1.6rem;
    font-weight: lighter;
}
#app-content{
    position: fixed;
    z-index: 10100;
    line-height: 20px;
    width: 500px;
    right: 10px;
    bottom: 10px;
    height: calc(100% - 20px);
    max-height: 720px;
    animation-name: appOpen;
    animation-duration: .2s;
    animation-timing-function: cubic-bezier();

}
@keyframes appOpen {
    from {
        transform: translateX(120%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
    }
}
#modelinject {
    box-shadow: #0000008a 0 5px 11px 0px;
    position: relative;
    background-color: #1f1f1f;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-default);
    border-radius: var(--rounded);
    overflow: hidden;
    padding-bottom: calc(50px + 1rem + 10px);
}
#vueapp *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cd-dialog-actions-top{
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cd-dialog-actions-top a{
    color: white;
}
.cd-dialog-actions-top a:hover{
    color: white;
}
.cd-btn{
    color: white;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 36px;
    min-width: 36px;
    padding: .5rem;
    background-color: var(--primary);
    border-radius: var(--rounded2);
    transition: linear all .2s;
}
.cd-btn svg,
.cd-btn *{
    fill: white;
    color: white;
}
.cd-btn-navmenu{
    height: 50px;
    width: 50px;
    background: var(--panel);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    position: relative;
    transition: none;
    transition: linear backgroud .2s;
    border-radius: var(--rounded2);
    box-shadow: rgba(0, 0, 0, 0.54) 0px 5px 11px 0px;
    transition: linear all .2s;
}
.cd-btn-navmenu{
    fill: white;
}
.cd-btn-navmenu svg{
    width: 24px;
}
.cd-btn-navmenu:hover,
.cd-btn-navmenu.active {
    background-color: var(--primary);
}
.cd-btn-navmenu:focus{
    color: white;
}
.cd-btn-navmenu span {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--panel);
    color: white;
    border-radius: 50%;
    font-size: .8rem;
    height: 1.4rem;
    width: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: waves;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.cd-btn-navmenu:hover {
    color: white;
}

#cd-navmenu{
    position: fixed;
    right: calc(10px + .5rem);
    bottom: calc(10px + .5em);
    display: grid;
    z-index: 10101;
    width: calc(500px - 1rem);
    gap: .5rem;
    grid-template-columns: 1fr auto;
}
.cd-navmenu-principal-action{
    display: flex;
    grid-template-columns: repeat(auto-fit, 50px);
    grid-template-rows: 50px;
    gap: .5rem;
    justify-content: end;
}
#cd-navmenu.cd-navmenu-open {
    height: 50px;
    flex-direction: row;
}
.cd-navmenu-open .cd-navmenu-principal-action{
    flex-direction: row;
}
.cd-countdown{
    display: flex;
    flex-direction: column;
    width: 80px;
    border-radius: var(--rounded);
    color: white;
    background: rgba(255, 255, 255, 0.25);
    height: 36px;
    display: flex;
    align-items: center;
    margin-right: 2px;
    font-size: .7rem;
}
.cd-countdown span{
    display: block;
    font-size: 1rem;
    margin-top: -5px;
}
.cd-list{
    border-radius: var(--rounded);
    margin-bottom: 4px;
    position: relative;
    display: flex;
    background-color: var(--panel);
}
.cd-list-title{
    font-weight: bold;
}
.cd-dialog-content{
    flex: 1;
    position: relative;
}
.cd-list-more{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.mdl-dialog__content{
    flex: 1;
    overflow-y: auto;
    padding: 0 1rem;
}
.cd-list-subtitle,
.cd-list-subtitle2{
    font-size: .8rem;
    font-weight: bold;
    color: rgb(220, 220, 220);
}
.cd-list-description{
    font-size: .9rem;
    line-height: .97rem;
    padding: .5rem 0;
}
.cd-list-empty{
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}
.cd-list-subtitle2{
    font-weight: normal;
}
.cd-tabsbox{
    background-color: var(--panel-light);
    display: flex;
    justify-content: space-between;
}
.cd-nav-btn-content{
    height: 60px;
    padding: .5rem;
    flex: 1;
}
.cd-nav-btn svg{
    fill: white;
    height: 2rem;
}
.cd-nav-btn{
    padding: 0 1rem;
    height: 42px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    transition: background .2s linear;
    outline: none;
    border-radius: 3rem;
}
.cd-nav-btn > div{
    position: relative;
}
.cd-nav-btn b{
    position: absolute;
    top: -20%;
    left: 50%;
    background: var(--primary);
    color: white;
    border-radius: 50%;
    font-weight: normal;
    font-size: .8rem;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cd-nav-btn i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all .2s linear;
}
.cd-nav-btn span{
    width: 0%;
    overflow: hidden;
    transition: all .2s linear;
    position: absolute;
}
.cd-nav-btn.active i {
    font-size: 24px;
}
.cd-nav-btn.active svg,
.cd-nav-btn.active:focus svg{
    fill: var(--primary);
    height: 1.75rem;
}
.cd-nav-btn:hover,
.cd-nav-btn:focus {
    background: var(--panel);
    color: #fff;
    outline: none;
}
.cd-nav-btn.active,
.cd-nav-btn.active:focus{
    background: white;
    color: var(--primary);
    outline: none;
}
.cd-nav-btn:hover b,
.cd-nav-btn.active b {
    background: var(--primary);
    color: white;
}
.cd-nav-btn.active span {
    display: flex;
    white-space: nowrap;
    margin-left: .5rem;
    color: inherit;
    width: auto;
    position: relative;
}
.modal-header a:hover{
    color: white;
    
}
.mdl-dialog__actions{
    padding: 1rem;
}
.cd-list-content{
    padding: 1rem ;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cd-list:last-child .cd-list-content {
    border-bottom: 1px solid transparent;
}
.cd-list-icon{
    font-size: 1.4rem;
    height: 2rem;
    color: var(--primary);
    fill: var(--primary);
    padding-top: 1rem;
    padding-left: 1rem;
    box-sizing: content-box;
}
.cd-list-access{
    color: var(--primary);
    padding: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cd-list-access a{
    border-radius: var(--rounded);
    min-width: 36px;
    padding: 0;
}
.cd-list-time{
    padding: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
}
.cd-date {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cd-date-month {
    font-size: .7rem;
    height: 14px;
    line-height: 12px;
    text-align: center;
    border-radius: .5rem .5rem 0 0;
    width: 48px;
    background-color: var(--primary);
}
.cd-date-time {
    width: 48px;
    border: 1px solid var(--primary);
    border-radius: 0 0 .5rem .5rem;
    font-weight: normal;
    font-size: .8rem;
}
.cd-btn-icon{
    border-radius: var(--rounded);
    min-width: 36px;
    padding: 0;
    background: var(--primary);
}

.cd-btn-archived{
    height: 36px;
    padding: 0 .5rem;
    border-radius: var(--rounded);
    background: var(--success);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
    transition: linear all .2s;
}
.cd-btn-archived > span{
    margin-right: .5rem;
    height: 22px;
    width: 22px;
    border-radius: .25rem;
    background: white;
    color: var(--primary);
    line-height: 22px;
    text-align: center;
    font-size: .8rem;
}
.cd-menu{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
.cd-menu button{
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    color: white;
}
.cd-menu button:hover {
    background: white;
    color: var(--primary);
}
.mdl-chip-sm{
    padding: 0 .5rem;
    height: 22px;
    line-height: 22px;
    background-color: var(--primary);
    border-radius: var(--rounded);
}
.mdl-chip-sm .mdl-chip__text{
    font-size: .8rem;
}

.mdl-button:focus:not(:active){
    background: white;
}
.mdl-navigation > a{
    margin-right: 1px;
}

/*Modificacion de la libreria de estilos de material*/
.mdl-tooltip{
    border-radius: var(--rounded);
}
.mdl-dialog__content{
    color: white;
    position: relative;
}
.mdl-button--raised.mdl-button--colored{
    background: var(--primary)
}
.mdl-button--raised.mdl-button--colored.success{
    background: var(--success)
}
.mdl-button--icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cd-activity-type{
    padding: 0;
    border-radius: .5rem;
    font-size: .6rem;
    width: 48px;
    height: 32px;
    border: solid transparent 2px;
    background-origin: border-box;
    background-clip: content-box,
    border-box;
}
.cd-dashboard{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 120px;
}
.cd-dashboard-item{
    background: linear-gradient(35deg, var(--panel) 0%, black 100%);
    padding: 1rem;
    border-radius: var(--rounded);
    color: #fff;
    fill: #fff;
    position: relative;
}
.cd-dashboard-item-counter{
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: white;
    font-size: 0.8rem;
    height: 1.4rem;
    width: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: waves;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    background: var(--primary);
    border-radius: 50%;
}
.cd-dashboard-item svg{
    width: 2.4rem;
}
.cd-dashboard-item:hover,
.cd-dashboard-item:focus {
    color: #fff;
}
.uim-tertiary{
    opacity: .5;
}
.uim-quaternary{
    opacity: .25;
}
.uim-primary{
    opacity: 1;
}
.cd-dashconferences{
    width: 100%;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(80px , 1fr));
    grid-auto-rows: 1fr;
    padding: .5rem;
    border-radius: var(--rounded);
    background: var(--panel);
    position: relative;
}
.cd-dashconferences::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1612831455359-970e23a1e4e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80');
    background-size: cover;
    background-position: center;
    border-radius: var(--rounded);
    opacity: .1;
}
.cd-dashconferences-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    fill: white;
    color: white;
    border-radius: var(--rounded);
    transition: linear all .2s;
}
.cd-dashconferences-item-message-notinit, .cd-dashconferences-item-disable:hover .cd-dashconferences-item-title {
    display: none;
}
.cd-dashconferences-item-disable:hover .cd-dashconferences-item-message-notinit {
    display: flex;
}
.cd-dashconferences-item-disable{
    background: transparent !important;
    filter: grayscale(100%);
}
.cd-dashconferences-item svg{
    width: 2.6rem;
}
.cd-dashconferences-item b{
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    top: .5rem;
    background: var(--success);
    right: .5rem;
}
a.cd-dashconferences-item:focus,
a.cd-dashconferences-item:hover{
    color: white;
    background: var(--panel-light);
}
.cd-dashconferences-item > div{
    position: relative;
    border: 2px solid transparent;
    border-radius: var(--rounded);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 80px;
    flex-direction: column;
    overflow: hidden;
}
.cd-dashconferences-item>div span{
font-size: .6rem;
}
.cd-dashconferences-item span{
    text-align: center;
    line-height: .7rem;
    overflow: hidden;
}
.cd-schedule-2-hour{
    position: relative;
}
.cd-schedule-2-hour::before{
    content: '';
    height: 1px;
    background: rgba(255, 255, 255, 0.25);
    position: absolute;
    top: 50%;
    left: 100%;
    width: calc(400px + 1rem);
}
.cd-gallery-string{
    position: relative;
    width: 100%
}
.cd-gallery-string span{
    transition: linear all .2s;
    opacity: 0;
    position: absolute;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*WEB MODIFICACIONES*/
