:root{
    /*--primary: #00e59b;*/
    --primary: #ec2449;
    --secondary: #673ab7;
    --panel: #0c0f1d;
    --text-default: #d5d8e2;
    --bg: rgb(26, 28, 39);
    --web-primary: #ec2449;
    --ff-secondary: 'Caveat', cursive;
    --success: #8bc34a; /*#05cc47*/
    --rounded: 1rem;
}
.acd-waves {
    animation-name: waves;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes waves {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0);

    }
}

.acd-fadeOut {
    animation-name: fadeOut;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.cd-bg-success{
    background: var(--success) !important;
}
.cd-bg-secondary {
    background: var(--secondary) !important;
}
.cd-bg-primary {
    background: var(--primary) !important; 
}
.cd-bg-panel {
    background: var(--panel) !important;
}
.ff-secodary{
    font-family: var(--ff-secondary);
}
.cd-text-primary{
    color: var(--primary);
}
.cd-pointer{
    cursor: pointer;
}
.cd-scroll-custom::-webkit-scrollbar,
.mdl-dialog__content::-webkit-scrollbar {
    width: 12px;
}

.cd-scroll-custom::-webkit-scrollbar-track,
.mdl-dialog__content::-webkit-scrollbar-track {
    background: var(--bg);
}

.cd-scroll-custom::-webkit-scrollbar-thumb,
.mdl-dialog__content::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 18px;
    border: 1px solid var(--bg);
}
.cd-schedule-info{
    background: var(--bg);
    width: 100%;
    max-width: 600px;
    padding: 2rem;
    border-radius: var(--rounded);
    color: white;
}
.cd-schedule-info *{
    color: white;
}
.cd-schedule-container{
    flex: 1;
    height: 100%;
}
.cd-schedule{
    background: var(--bg);
    max-width: 1200px;
    width: 100%;
    border-radius: var(--rounded);
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.cd-schedule-head{
    display: flex;
}
.cd-schedule-head > * {
    height: 60px;
    text-align: center;
    padding: 1rem 0;
}
.cd-schedule-head span{
    height: 100%;
    width: 100%;
    border-radius: var(--rounded);
}
.cd-schedule-body{
    display: flex;
    width: 100%;
}
.cd-schedule-courses{
    flex: 1;
    height: 100%;
    display: flex;
    padding: 0 0 1rem 0;
}
.cd-schedule-hours{
    display: flex;
    flex-direction: column;
    background: var(--bg);
    padding: 0 2px;
}
.cd-schedule-hours span{
    width: 56px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cd-schedule-hours b{
    border-radius: var(--rounded);
    background: var(--bg);
    padding: 0 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.cd-schedule-day{
    width: 20%;
    border-radius: var(--rounded);
    overflow: hidden;
}
.cd-schedule-day > div{
    display: flex;
    padding: 0;
    margin: 0;
    font-size: .9rem;
}
.cd-schedule-course {
    height: 100%;
    padding: 2px;
}
.cd-schedule-course span{
    padding: .25rem;
    height: 100%;
    text-align: center;
    background: #ffffff0f;
    border-radius: var(--rounded);
}
.cd-schedule-dcourse{
    font-size: 0.6rem;
    line-height: 0.6rem;
}
.mdi.mdi-f{
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#modelinject,
#modalschedule {
    position: fixed;
    top: 0;
    right: 60px;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10203;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    line-height: 20px;
}
.cd-dialog {
    background-color: #1a1c27;
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    color: var(--text-default);
}
.cd-dialog-actions-top{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cd-dialog-actions-top a{
    color: white;
}
.cd-dialog-actions-top a:hover{
    color: white;
}
.cd-btn-navmenu{
    height: 60px;
    width: 60px;
    background-color: var(--panel);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    position: relative;
    margin-top: .25rem;
    transition: none;
    transition: linear backgroud-color .2s;
}
.cd-btn-navmenu:hover,
.cd-btn-navmenu.active {
    background-color: var(--primary);
}
.cd-btn-navmenu:focus{
    color: white;
}
.cd-navmenu-open .cd-btn-navmenu{
    border-radius: 0;
    margin: 0;
}
.cd-btn-navmenu span {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--panel);
    color: white;
    border-radius: 50%;
    font-size: .8rem;
    height: 1.4rem;
    width: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: waves;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.cd-btn-navmenu:hover {
    color: white;
}

#cd-navmenu{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10204;
}
#cd-navmenu > *:nth-child(2){
    display: flex;
    flex-direction: column;
}
#cd-navmenu.cd-navmenu-open {
    background: var(--panel);
    right: 0;
    top: 0;
    bottom: 0;
    transition: background all .2s;
}
.cd-cooldown{
    display: flex;
    flex-direction: column;
    width: 80px;
    border-radius: var(--rounded);
    color: white;
    background: rgba(255, 255, 255, 0.25);
    height: 36px;
    display: flex;
    align-items: center;
    margin-right: 2px;
    font-size: .7rem;
}
.cd-cooldown span{
    display: block;
    font-size: 1rem;
    margin-top: -5px;
}
.cd-list{
    border-radius: var(--rounded);
    margin-bottom: 4px;
    position: relative;
    display: flex;
    background-color: var(--panel);
}
.cd-list-title{
    font-weight: bold;
}
.cd-list-more{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.mdl-dialog__content{
    height: calc(100vh - (88px + 64px));
    overflow-y: auto;
    padding: 0 1rem;
}
.cd-list-subtitle,
.cd-list-subtitle2{
    font-size: .8rem;
    font-weight: bold;
    color: rgb(220, 220, 220);
}
.cd-list-description{
    font-size: .9rem;
    line-height: .97rem;
    padding: .5rem 0;
}
.cd-list-empty{
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}
.cd-list-subtitle2{
    font-weight: normal;
}
.cd-tabsbox{
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
}
.cd-nav-btn-content{
    height: 60px;
    padding: .5rem;
    flex: 1;
}
.cd-nav-btn{
    padding: 0 1rem;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    transition: background .2s linear;
    outline: none;
    border-radius: 3rem;
}
.cd-nav-btn > div{
    position: relative;
}
.cd-nav-btn b{
    position: absolute;
    top: -50%;
    left: 50%;
    background: var(--primary);
    color: white;
    border-radius: 50%;
    font-weight: normal;
    font-size: .8rem;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cd-nav-btn i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all .2s linear;
}
.cd-nav-btn span{
    width: 0%;
    overflow: hidden;
    transition: all .2s linear;
    position: absolute;
}
.cd-nav-btn.active i {
    font-size: 24px;
}
.cd-nav-btn:hover,
.cd-nav-btn:focus {
    background: var(--panel);
    color: #fff;
    outline: none;
}
.cd-nav-btn.active,
.cd-nav-btn.active:focus{
    background: white;
    color: var(--primary);
    outline: none;
}
.cd-nav-btn:hover b,
.cd-nav-btn.active b {
    background: var(--primary);
    color: white;
}
.cd-nav-btn.active span {
    display: flex;
    white-space: nowrap;
    margin-left: .5rem;
    color: inherit;
    width: auto;
    position: relative;
}
.modal-header a:hover{
    color: white;
    
}
.mdl-dialog__actions{
    padding: 1rem;
}
.cd-list-content{
    padding: 1rem ;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cd-list:last-child .cd-list-content {
    border-bottom: 1px solid transparent;
}
.cd-list-icon{
    font-size: 1.4rem;
    color: var(--primary);
    padding-top: 1rem;
    padding-left: 1rem;
}
.cd-list-access{
    color: var(--primary);
    padding: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cd-list-access a{
    border-radius: var(--rounded);
    min-width: 36px;
    padding: 0;
}
.cd-list-time{
    padding: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
}
.cd-date {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cd-date-month {
    font-size: .7rem;
    text-align: center;
    top: 10px;
    border: 2px solid white;
    border-top-width: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 44px;
    margin-top: 4px;
}
.cd-btn-icon{
    border-radius: var(--rounded);
    min-width: 36px;
    padding: 0;
    background: var(--primary);
}
/*.cd-date-month::after,
.cd-date-month::before{
    content: '';
    position: absolute;
    top: 0;
    height: 6px;
    width: 6px;
    right: 10%;
    background-color: white;
}
.cd-date-month::after {
    left: 10%;
}*/

.cd-btn-archived{
    height: 36px;
    padding: 0 .5rem;
    border-radius: var(--rounded);
    background: var(--success);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
    transition: linear all .2s;
}
.cd-btn-archived > span{
    margin-right: .5rem;
    height: 22px;
    width: 22px;
    border-radius: .25rem;
    background: white;
    color: var(--primary);
    line-height: 22px;
    text-align: center;
    font-size: .8rem;
}
.cd-menu{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
.cd-menu button{
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    color: white;
}
.cd-menu button:hover {
    background: white;
    color: var(--primary);
}
.cd-date-month *:nth-child(1){
    margin-right: 2px;
}
.cd-date-time {
    font-weight: normal;
    font-size: .8rem;
    background: var(--primary);
    border-radius: 4px;
    width: 44px;
    margin-top: 2px;
}
.mdl-chip-sm{
    padding: 0 .5rem;
    height: 20px;
    line-height: 20px;
}
.mdl-chip-sm .mdl-chip__text{
    font-size: .8rem;
}

.mdl-button:focus:not(:active){
    background: white;
}
.mdl-navigation > a{
    margin-right: 1px;
}

/*Modificacion de la libreria de estilos de material*/
.mdl-tooltip{
    border-radius: var(--rounded);
}
.mdl-dialog__content{
    color: white;
    position: relative;
}
.mdl-button--raised.mdl-button--colored{
    background: var(--primary)
}
.mdl-button--raised.mdl-button--colored.success{
    background: var(--success)
}
.mdl-button--icon{
    display: flex;
    align-items: center;
    justify-content: center;
}



/*WEB MODIFICACIONES*/
