:root{
    /*--primary: #00e59b;*/
    --primary: #ec2449;
    --secondary: #673ab7;
    --panel: #0c0f1d;
    --text-default: #d5d8e2;
    --bg: rgb(26, 28, 39);
    --web-primary: #ec2449;
    --ff-secondary: 'Caveat', cursive;
    --success: #8bc34a; /*#05cc47*/
}
.cd-bg-success{
    background: var(--success) !important;
}
.cd-bg-secondary {
    background: var(--secondary) !important;
}
.ff-secodary{
    font-family: var(--ff-secondary);
}
.cd-text-primary{
    color: var(--primary);
}
.cd-scroll-custom::-webkit-scrollbar,
.mdl-dialog__content::-webkit-scrollbar {
    width: 12px;
}

.cd-scroll-custom::-webkit-scrollbar-track,
.mdl-dialog__content::-webkit-scrollbar-track {
    background: var(--bg);
}

.cd-scroll-custom::-webkit-scrollbar-thumb,
.mdl-dialog__content::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 18px;
    border: 1px solid var(--bg);
}
.mdi.mdi-f{
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#modelinject{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10203;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    line-height: 20px;
}
.cd-dialog {
    background-color: #1a1c27;
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    color: var(--text-default);
}
.cd-dialog-actions-top{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cd-dialog-actions-top a{
    color: white;
}
.cd-dialog-actions-top a:hover{
    color: white;
}
#cd-btn-modal{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 8;
    height: 60px;
    width: 60px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
}
#cd-btn-modal span {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--panel);
    color: white;
    border-radius: 50%;
    font-size: .8rem;
    height: 1.4rem;
    width: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: waves;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#cd-btn-modal:hover {
    color: white;
}
.cd-cooldown{
    display: flex;
    width: 70px;
    border-radius: .5rem;
    color: white;
    background: rgba(255, 255, 255, 0.25);
    height: 36px;
    display: flex;
    align-items: center;
    margin-right: 2px;
}
.cd-list{
    border-radius: .5rem;
    margin-bottom: 4px;
    position: relative;
    display: flex;
    background-color: var(--panel);
}
.cd-list-title{
    font-weight: bold;
}
.cd-list-more{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.mdl-dialog__content{
    height: calc(100vh - (88px + 64px));
    overflow-y: auto;
    padding: 0 1rem;
}
.cd-list-subtitle,
.cd-list-subtitle2{
    font-size: .8rem;
    font-weight: bold;
    color: rgb(220, 220, 220);
}
.cd-list-description{
    font-size: .9rem;
    line-height: .97rem;
    padding: .5rem 0;
}
.cd-list-empty{
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}
.cd-list-subtitle2{
    font-weight: normal;
}
.cd-tabsbox{
    background-color: var(--panel);
    display: flex;
    justify-content: space-between;
}
.cd-nav-btn{
    flex: 1;
    padding: 0 1rem;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    transition: background .2s linear;
}
.cd-nav-btn > div{
    position: relative;
}
.cd-nav-btn b{
    position: absolute;
    top: -50%;
    left: 50%;
    background: var(--primary);
    color: white;
    border-radius: 50%;
    font-weight: normal;
    font-size: .8rem;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cd-nav-btn i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all .2s linear;
}
.cd-nav-btn span{
    width: 0%;
    overflow: hidden;
    transition: all .2s linear;
}
.cd-nav-btn:hover i,
.cd-nav-btn.active i {
    font-size: 24px;
}
.cd-nav-btn:hover {
    background: var(--bg);
    color: #fff;
}
.cd-nav-btn.active{
    background: white;
    color: var(--primary);
}
.cd-nav-btn:hover b,
.cd-nav-btn.active b {
    background: var(--primary);
    color: white;
}
.cd-nav-btn:hover span,
.cd-nav-btn.active span {
    display: flex;
    white-space: nowrap;
    margin-left: .5rem;
    color: inherit;
    width: auto;
}
.modal-header a:hover{
    color: white;
    
}
.mdl-dialog__actions{
    padding: 1rem;
}
.cd-list-content{
    padding: 1rem ;
    flex: 1;
}
.cd-list:last-child .cd-list-content {
    border-bottom: 1px solid transparent;
}
.cd-list-icon{
    font-size: 1.4rem;
    color: var(--primary);
    padding-top: 1rem;
    padding-left: 1rem;
}
.cd-list-access{
    color: var(--primary);
    padding: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cd-list-access a{
    border-radius: .5rem;
    min-width: 36px;
    padding: 0;
}
.cd-list-time{
    padding: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
}
.cd-date {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cd-date-month {
    font-size: .7rem;
    text-align: center;
    top: 10px;
    border: 2px solid white;
    border-top-width: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 44px;
    margin-top: 4px;
}
.cd-btn-icon{
    border-radius: .5rem;
    min-width: 36px;
    padding: 0;
    background: var(--primary);
}
/*.cd-date-month::after,
.cd-date-month::before{
    content: '';
    position: absolute;
    top: 0;
    height: 6px;
    width: 6px;
    right: 10%;
    background-color: white;
}
.cd-date-month::after {
    left: 10%;
}*/

.cd-btn-archived{
    height: 36px;
    padding: 0 .5rem;
    border-radius: .5rem;
    background: var(--success);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    cursor: pointer;
    transition: linear all .2s;
}
.cd-btn-archived > span{
    margin-right: .5rem;
    height: 22px;
    width: 22px;
    border-radius: .25rem;
    background: white;
    color: var(--primary);
    line-height: 22px;
    text-align: center;
    font-size: .8rem;
}
.cd-menu{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
.cd-menu button{
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    color: white;
}
.cd-menu button:hover {
    background: white;
    color: var(--primary);
}
.cd-date-month *:nth-child(1){
    margin-right: 2px;
}
.cd-date-time {
    font-weight: normal;
    font-size: .8rem;
    background: var(--primary);
    border-radius: 4px;
    width: 44px;
    margin-top: 2px;
}
.mdl-chip-sm{
    padding: 0 .5rem;
    height: 20px;
    line-height: 20px;
}
.mdl-chip-sm .mdl-chip__text{
    font-size: .8rem;
}

.mdl-button:focus:not(:active){
    background: white;
}
.mdl-navigation > a{
    margin-right: 1px;
}

/*Modificacion de la libreria de estilos de material*/
.mdl-tooltip{
    border-radius: .5rem;
}
.mdl-dialog__content{
    color: white;
    position: relative;
}
.mdl-button--raised.mdl-button--colored{
    background: var(--primary)
}
.mdl-button--raised.mdl-button--colored.success{
    background: var(--success)
}
.mdl-button--icon{
    display: flex;
    align-items: center;
    justify-content: center;
}



/*WEB MODIFICACIONES*/

body.theme-dark div[ng-controller=IndexController] > div:nth-child(2){
    display: grid;
    grid-template-areas:
    "a b";
    grid-template-columns: 1fr 500px;
    grid-template-rows: 1fr;
    gap: 1rem;
}
#course-no-mobile{
    max-height: none !important;
    grid-area: a;
}
.page-content>.ng-scope>*:nth-child(2)>.row {
    grid-area: b;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.page-content>.ng-scope>*:nth-child(2)>.row > *{
    width: 100% !important;
    padding: 1rem;
    margin: 0;
}
div[ng-controller=IndexController] .row>.col-md-6.hidden-sm {
    display: none !important;
}
body.theme-dark  #course-no-mobile,
body.theme-dark  div[ng-controller=IndexController] .row>.col-md-6.hidden-sm,
body.theme-dark  .page-content>.ng-scope>*:nth-child(2)>.row{
    padding: 0;
    margin: 0;
    width: 100%;
}

.cd-anunces{
    display: flex;
}
button:focus{
    outline: none !important;
}
.btn.btn-back{
    background-color: var(--web-primary) !important;
}
@media (min-width: 768px) {
    body.theme-dark nav.left-menu {
        border-bottom: 5px solid var(--web-primary) !important;
    }
}
body.theme-dark > nav.left-menu {
    background: var(--panel) !important;
    border-bottom: 5px solid var(--web-primary) !important;
}
.quick-nav-trigger{
    background: var(--panel);
}
nav.top-menu{
    background: #f3f3f3 !important;
}
.box-courses .row.row-labels{
    display: none;
}
.box-courses .img-course {
    padding: 1rem 0;
    margin: 0;
}
.box-courses .img-course img {
    width: 100%;
}
body.theme-dark .title-course {
    white-space: normal;
}
.row-course > a{
    display: flex;
    background: white;
    border-bottom: 1px solid lightgray;
}
body.theme-dark .box-courses {
    max-height: none !important;
}
body.theme-dark .content-dates,
body.theme-dark .content-dates + div,
body.theme-dark .content-Announcement,
body.theme-dark #course-no-mobile,
body.theme-dark .row-body2,
.tool-item,
.item-Announcement,
.desc-box,
.list-student-css,
.item-forum,
.sidebar-panel,
.course-container,
.item-annoucement,
.group-card {
    background-color: white !important;
    border-radius: .5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}
body.theme-dark hr{
    display: none;
}

.row-course>a  > div:nth-child(1){
    padding: 0;
    padding-left: 1rem;
    width: 3rem;
}
.row-course>a>div:nth-child(2) {
    padding: 1rem;
    flex: 1;
}
.row-course>a>div:nth-child(2) .row{
    margin: 0;
}

.box-courses .row-course:not(:last-child){
    margin-bottom: 2px;
}

.cd-icon-rotate::before{
    animation-name: rotateanimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media (max-width: 768px) {
    .row-course>a>div:nth-child(1) {
        display: none;
    }
}

.acd-waves{
    animation-name: waves;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes waves {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0);
        
    }
}

.acd-fadeOut {
    animation-name: fadeOut;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}