:root{
    /*--primary: #00e59b;*/
    --primary: #ec2449;
    --secondary: #3f51e4;
    --panel: #0c0f1d;
    --text-default: #d5d8e2;
    --bg: rgb(26, 28, 39);
    --web-primary: #ec2449;
}
.cd-text-primary{
    color: var(--primary);
}
.cd-scroll-custom::-webkit-scrollbar,
.mdl-dialog__content::-webkit-scrollbar {
    width: 12px;
}

.cd-scroll-custom::-webkit-scrollbar-track,
.mdl-dialog__content::-webkit-scrollbar-track {
    background: var(--bg);
}

.cd-scroll-custom::-webkit-scrollbar-thumb,
.mdl-dialog__content::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 18px;
    border: 1px solid var(--bg);
}
.mdi.mdi-f{
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-c{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#modelinject{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10203;
    background: rgba(0, 0, 0, 0.5);
}
.cd-dialog {
    background-color: #1a1c27;
    height: 100%;
    width: 540px;
    display: flex;
    flex-direction: column;
    color: var(--text-default);
}
.cd-dialog-actions-top{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cd-dialog-actions-top a{
    color: white;
}
.cd-dialog-actions-top a:hover{
    color: white;
}
#cd-btn-modal{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 8;
    height: 60px;
    width: 60px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
}
#cd-btn-modal span {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--panel);
    color: white;
    border-radius: 50%;
    font-size: .8rem;
    height: 1.4rem;
    width: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: waves;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#cd-btn-modal:hover {
    color: white;
}
.cd-list{
    margin-bottom: 2px;
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.15);
}
.cd-list-title{
    font-weight: bold;
}
.cd-list-more{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
.mdl-dialog__content{
    max-height: calc(100vh - (88px + 64px));
    overflow-y: auto;
    padding: 0 1rem;
}
.cd-list-subtitle,
.cd-list-subtitle2{
    font-size: .8rem;
    font-weight: bold;
    color: rgb(220, 220, 220);
}
.cd-list-description{
    font-size: .9rem;
    line-height: .97rem;
    padding: .5rem 0;
}
.cd-list-empty{
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}
.cd-list-subtitle2{
    font-weight: normal;
}
.cd-tabsbox{
    background-color: var(--panel);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}
.cd-tabsbox i{
    color: var(--primary);
}
.modal-header a:hover{
    color: white;
}
.mdl-dialog__actions{
    padding: 1rem;
}
.cd-nav-btn{
    color: white;
    background: rgba(158, 158, 158, 0.2);
    
}
.cd-nav-btn.mdl-button:hover,
.cd-nav-btn.active {
    color: var(--secondary);
    background: white;
}
.cd-list-content{
    padding: 1rem ;
    flex: 1;
}
.cd-list:last-child .cd-list-content {
    border-bottom: 1px solid transparent;
}
.cd-list-icon{
    font-size: 1.4rem;
    color: var(--primary);
    padding: 1rem 0 0 1rem;
}
.mdl-chip-sm{
    padding: 0 .5rem;
    height: 20px;
    line-height: 20px;
}
.mdl-chip-sm .mdl-chip__text{
    font-size: .8rem;
}

.mdl-button:focus:not(:active){
    background: white;
}
.mdl-navigation > a{
    margin-right: 1px;
}

/*Modificacion de la libreria de estilos de material*/
.mdl-dialog__content{
    color: white;
}
.mdl-button--raised.mdl-button--colored{
    background: var(--primary)
}
.mdl-button--icon{
    display: flex;
    align-items: center;
    justify-content: center;
}



/*WEB MODIFICACIONES*/
.btn.btn-back{
    background-color: var(--web-primary) !important;
}
@media (min-width: 768px) {
    body.theme-dark nav.left-menu {
        border-bottom: 5px solid var(--web-primary) !important;
    }
}
body.theme-dark > nav.left-menu {
    background: var(--panel) !important;
    border-bottom: 5px solid var(--web-primary) !important;
}
.quick-nav-trigger{
    background: var(--panel);
}
nav.top-menu{
    background: #f3f3f3 !important;
}
.box-courses .row.row-labels{
    display: none;
}
.box-courses .img-course {
    padding: 1rem 0;
    margin: 0;
}
.box-courses .img-course img {
    width: 100%;
}
.row-course > a{
    display: flex;
}
.row-course>a  > div:nth-child(1){
    padding: 0;
    padding-left: 1rem;
    width: 3rem;
}
.row-course>a>div:nth-child(2) {
    padding: 1rem;
    flex: 1;
}
.row-course>a>div:nth-child(2) .row{
    margin: 0;
}

.box-courses .row-course:not(:last-child){
    margin-bottom: 2px;
}

.cd-icon-rotate::before{
    animation-name: rotateanimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@media (max-width: 768px) {
    .row-course>a>div:nth-child(1) {
        display: none;
    }
}

@keyframes waves {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25);
    }

    100% {
        box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.25);
    }
}